<div id="home">
  <h1>Cageflix</h1>
  <h4>Netflix for Nic Cage Movies</h4>
  <%=link_to "Add Movie", new_movie_path%>


  <%@movies.each do |movie| %>
  <div>
    <b><%=movie.name%> (<%=movie.year%>)</b>
  </div>
  <div>
    <%=movie.synopsis%>
  </div>
  <%end%>
</div>