<div id="home">
  <%=link_to "Add Movie", new_movie_path%>
  <br/>
  <br/>
  <%@movies.each do |movie| %>
    <div>
      <b><%=movie.name%> (<%=movie.year%>)</b>
    </div>
    <div>
      <%=movie.synopsis%>
    </div>
    <br/>
  <%end%>
</div>